<div class="client-products">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="pull-left">Status prac</h1>

      <div class="pull-right">
        <app-start-end-date (dateUpdater)="handleDateUpdate($event)" (filterItems)="handleFilterItems($event)"></app-start-end-date>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th width='70%'>Ticket</th>
            <th width='30%'>Developer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let ticket of tickets | customFilter:filteredItems'>
            <td>{{ ticket.name }}</td>
            <td>{{ ticket.developer }}</td>
          </tr>
        </tbody>
      </table>
      <h3>Zalogowany czas: <strong>{{ loggedTime }}</strong></h3>
    </div>
  </div>
</div>